* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "OpenSans", Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --orange: #FEB548;
    --grey-fonts-h4-h5: #c3c6c7;
    --main-background: rgb(0, 0, 0, 0.965);
    --bubble-background: rgba(109, 109, 99, 0.245);
    --shadow-background: rgba(17, 16, 16, 0.91);
    --input-background: rgba(49, 48, 48, 0.431);
    --twitter: #1A91DA;
    --facebook: #1877F2;
    --twitch: #B583FF;
    --youtube: #FF0000;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: .3px;
    color: white;
    overflow-X: hidden;
    background-color: var(--main-background);
}

h1 {
    font-size: 4.4rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--orange);
}

.h1-shadow {
    text-shadow: 0 0 20px rgb(0, 0, 0, .8);
}

h2 {
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--orange);
}

.h2-alike {
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--orange);
}

h3 {
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.4rem;
    text-transform: uppercase;
}

h4 {
    color: var(--grey-fonts-h4-h5);
    opacity: 0.6;
    font-weight: normal;
}

h5 {
    font-size: .9rem;
    font-weight: normal;
    color: var(--grey-fonts-h4-h5);
    opacity: 0.6;
    font-family: "open-sans";
}

a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transition-duration: 0.32s;
}

a:hover {
    color: var(--orange);
}

.color-primary {
    color: var(--orange);
}

.flex {
    position: absolute;
    display: flex;
}


/* Header */

.header-wrap {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    line-height: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    z-index: 10;
}

.header-content {
    position: relative;
    display: flex;
    width: 1330px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.img-SOS {
    flex-basis: 55px;
    margin-left: 4vw;
    margin-bottom: -.4rem;
}

.img-SOS img {
    max-width: 100%;
    max-height: 100%;
}

.nav-main {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.main-ul {
    display: flex;
    list-style-type: none;
}

.main-ul li {
    margin: 1vw;
    line-height: 100%;
}

.platforms {
    margin-right: 4vw;
    display: flex;
    list-style-type: none;
}

.switch-lang-wrap {
    position: relative;
    display: flex;
    border-right: 1px solid rgb(187, 184, 184);
    margin-right: 1rem;
    cursor: pointer;
}

.switch-lang {
    position: relative;
    margin-left: 12vw;
    display: flex;
}

.switch-lang-wrap:hover i {
    color: var(--orange);
}

.picked-language {
    margin-right: .6rem;
    line-height: 1;
    align-self: center;
    width: 30px;
}

.picked-language:hover {
    color: white;
}

.hidden-lang {
    position: absolute;
    display: none;
    list-style-type: none;
    align-items: center;
    top: 30px;
    left: -1vw;
    width: 5vw;
    height: 7.3rem;
}

.hidden-lang.active {
    display: flex;
    flex-direction: column;
    background-color: rgba(7, 7, 7, 0.55);
    border-radius: 5px;
    transition-duration: 0.32s;
}

.hidden-lang li {
    line-height: 1.3;
    flex-grow: 1;
}

.arrows {
    color: white;
    margin-top: -10px;
    margin-right: 1.4rem;
    font-size: 1rem;
    padding-top: 14px;
    transition: 0.12s;
}

.arrows.active {
    display: none;
}

.platforms a i {
    font-size: 1.6rem;
    padding: 0px 15px 0 15px;
    color: var(--orange);
    transition: 0.5s;
}

.fa-steam {
    padding: 0;
}

.fab:hover {
    color: white;
}


/* All pages layout including background images and gradients - display:flex */

.sec {
    position: relative;
    flex-basis: 100vh;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-container {
    width: 100%;
    height: 100vh;
}


/* SECTION ONE - MAIN PAGE!!! */

.sec-main {
    background-image: url("assets/images/1.1intro-bg.png");
    text-align: center;
}

.wrapper-main {
    background: radial-gradient(rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.8032) 73.22%, rgb(8, 9, 10) 99.74%);
}

.main-content {
    position: relative;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
}

.button {
    line-height: 3.4rem;
    padding: 0 1.4rem;
    background-color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: .2s;
    border-radius: 5px;
}

.main-content button {
    margin: 1.5rem auto;
}

.btn-buy span {
    border-left: 1px solid rgb(26, 25, 23);
    margin-left: 0.6rem;
    padding-left: 0.6rem;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 7px 12px -5px var(--orange), 0px 7px 4px -2px rgba(255, 166, 0, 0.518);
}

.button:active,
.button:focus {
    outline: none;
}

.bottom-click {
    position: absolute;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-click>* {
    display: block;
    text-align: center;
}

.fas.fa-caret-down {
    font-size: medium;
    margin: 5px auto;
}


/* SECTION TWO - About-Us */

.sec-about-us {
    background-image: url("assets/images/2.1about-bg.png");
}

.wrapper-about-us {
    position: relative;
    background-color: var(--shadow-background);
}

.gallery-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gallery-text {
    position: relative;
    display: flex;
    min-width: 520px;
    flex-direction: column;
    flex-basis: 10%;
    height: 86%;
    align-self: center;
}

.head-wrap,
.text-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: 50%;
}

.head-wrap {
    justify-content: flex-end;
    padding-left: 0px;
    border-bottom: 3px solid white;
}

.text-wrap {
    padding-right: 10px;
    display: flex;
    width: 64%;
    height: 80%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 0;
}

.text-wrap p:first-child {
    margin-bottom: 25px;
}

.text-wrap>p:last-child span {
    border-bottom: 4px solid var(--orange);
}

.gallery-img {
    position: relative;
    display: flex;
    flex-basis: 37%;
    height: 92%;
    justify-content: space-around;
    align-self: center;
    align-items: center;
}

.imgs-father {
    position: absolute;
    display: flex;
    width: 84%;
    height: 94%;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.img-gal {
    position: relative;
    display: block;
    transition: 2s;
}

.img-gal.hide {
    display: none;
}

.img-pos {
    object-fit: cover;
    transform: scale(.62);
}

.img-pos-last {
    object-fit: none;
}

.circles-container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    height: 15px;
    bottom: 5%;
}

.round {
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    transition: .2s;
}

.round.active {
    background-color: white;
}

.img-switch a {
    position: relative;
    top: 50%;
    width: 23%;
}

.fa-caret-right {
    font-size: xx-large;
}


/* SECTION THREE  -  FEATURES */

.sec-features {
    background-image: url("assets/images/3.1features-bg.png");
}

.wrapper-features {
    background: radial-gradient(rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, .45) 55%, rgb(8, 10, 11, .98) 85%);
    position: absolute;
}

.feature-wrap {
    position: relative;
    display: flex;
    left: 10vw;
    width: 35vw;
    flex-direction: column;
}

.feature-wrap header {
    flex-basis: 50%;
    min-width: 400px;
    margin: 20vh 0 12vh 0;
}

.feature-wrap footer {
    flex-basis: 50%;
    min-width: 400px;
    margin-left: 2.5vw;
    margin-top: -1.1rem;
}

.dot-connection {
    position: relative;
}

.dot-connection::before {
    content: "";
    display: block;
    position: absolute;
    height: 119%;
    width: 2px;
    background-color: white;
    transform: translate(-1.16rem, 1.25rem);
}

p.feature-list {
    transition: 1s linear;
}

.h2-features {
    margin-top: 1.1rem;
    cursor: pointer;
}

.h2-features::after {
    content: "";
    display: block;
    position: absolute;
    width: .6rem;
    height: .6rem;
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(-1.5rem, -1.52rem);
}

p.white::after {
    background-color: white;
}

.feature-list {
    margin: .7rem 0 2rem 0.6rem;
    transition: 1s;
}

.feature-list.hidden {
    display: none;
}


/* SECTION FOUR  -  SYSTEM REQUIREMENTS */

.sec-sys-req {
    background-image: url("assets/images/4.1system-bg.png");
}

.wrapper-sys-req {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(rgba(20, 20, 20, 0.4) 0%, rgba(7, 6, 6, 0.65) 53.63%, rgba(7, 8, 8, 1) 100%);
    background-color: #8581813a;
}

.sys-req-head,
.sys-req-foot {
    position: relative;
    display: flex;
}

.sys-req-head {
    top: 5.5%;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
}

.sys-req-head h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-weight: 400;
}

.sys-req-foot {
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 600px;
    max-height: 400px;
    margin-left: 120px;
    top: 15%;
}

.sys-req-foot div {
    display: block;
    flex-basis: 49%;
    height: calc(100%/3);
    border: 1px solid rgba(148, 144, 144, 0.678);
    outline: hidden;
    flex-grow: 1;
    padding: 12px;
    overflow: hidden;
}


/* SECTION FIVE - QUOTES
Whole */

.sec-quotes {
    background-image: url("assets/images/5.1quotes-bg.png");
    display: flex;
}

.wrapper-quotes {
    max-width: 1200px;
    height: 92vh;
    margin: 0 auto;
    display: flex;
    align-self: center;
}


/*  first part of page 5 */

.quote-text {
    display: flex;
    flex-basis: 48.2%;
}

.text-container {
    display: flex;
    flex-basis: 80%;
}

.text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    height: 53vh;
    justify-content: space-between;
}

.quote-header {
    flex-direction: column;
}

.quote-paragraph p {
    text-align: justify;
    line-height: 1.2;
}


/* Second part of page 5 */

.quote-bubbles {
    position: relative;
    display: flex;
    flex-basis: 47%;
}

.bubbles-container {
    display: flex;
    flex-basis: 85%;
    flex-direction: column;
    justify-content: space-between;
}

.bubble {
    border-radius: 15px;
    background-color: var(--bubble-background);
    padding: 4%;
    line-height: 1.3;
}

.bubble-header {
    display: flex;
}

.bubble-img {
    position: relative;
    display: flex;
    flex-basis: 10%;
    align-self: flex-start;
}

.bubble-img img {
    position: relative;
    height: 60px;
    border-radius: 50%;
}

.bubble-img div {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(246, 198, 121, 0.876);
    transform: translate(12%, 6%);
}

.bubble-text {
    flex-grow: 1;
    padding-left: 6%;
    color: var(--orange)
}

.bubble-footer {
    padding-top: 4%;
}

.bubble-footer h5 {
    padding-top: 3%;
}


/* SECTION SIX - NEWSLETTER */

.sec-newsletter {
    background-image: url("assets/images/6.newsletter-bg.png");
    display: flex;
    justify-content: flex-end;
}

.wrapper-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 58%;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 48%;
    padding-right: 18%;
}

.news-text {
    text-align: justify;
}

.news-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.news-footer-form {
    display: flex;
    padding: 20px 0;
}

.news-input {
    margin-right: 0 auto 0 0;
    line-height: 3.4rem;
    padding: 0 .7rem;
    text-align: left;
    color: var(--orange);
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .2s;
    flex-grow: 1;
    background-color: var(--input-background);
}

.submit-btn {
    padding: 0 4vw;
    margin-left: 4%;
    float: right;
}

.news-alert {
    display: none;
    position: absolute;
    top: 120%;
    padding: 12px 22px;
    background-color: white;
    border-radius: 6px;
    color: black;
    font-size: .85rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.712);
}

.news-alert.active {
    display: flex;
    box-shadow: 0 0 13px rgba(172, 171, 171, 0.883);
}


/* ### FOOTER SECTION 7 */

#footer-wrapper {
    color: white;
    width: 100%;
    flex-basis: 34vh;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.footer-img {
    margin-bottom: -7px;
}

.footer-nav {
    position: relative;
    width: 1200px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-bottom: 3px solid white;
    margin: 0 5vw;
}

.marg-bottom-ul {
    margin-bottom: -40px;
}

.bottom-icons {
    margin-bottom: -40px;
    margin-left: 8vw;
    display: flex;
    width: 16vw;
    justify-content: space-between;
}

.icons {
    width: 45px;
    vertical-align: top;
    transition: .3s;
}

a i {
    font-size: 20px;
    transition: .3s;
}

.fa-youtube:hover {
    color: var(--youtube);
}

.fa-facebook-f:hover {
    color: var(--facebook);
}

.fa-twitch:hover {
    color: var(--twitch);
}

.fa-twitter.ai {
    color: white;
}

.fa-twitter.ai:hover {
    color: var(--twitter);
}

.footer-bottom {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin: 0 5vw;
}

.bottom-links {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 0;
}

.copyright {
    margin-top: 18px;
}

.policy {
    margin-top: 15px;
}

.policy>a:not(:last-of-type) {
    margin-right: 5px;
    padding-right: 9px;
    border-right: 1px solid white;
}