            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            html {
                scroll-behavior: smooth;
            }
            
             :root {
                --orange: #FEB548;
            }
            
            body {
                position: relative;
                display: flex;
                flex-direction: column;
                font-family: "OpenSans", Helvetica, sans-serif;
                font-size: 20px;
                letter-spacing: .3px;
                color: white;
                overflow-X: hidden;
                background-color: rgb(0, 0, 0, 0.965);
            }
            
            h1 {
                font-size: 4.4rem;
                font-family: 'Bebas Neue', cursive;
                font-weight: 400;
                letter-spacing: 3px;
                line-height: 1.0;
                text-transform: uppercase;
                margin-top: 10px;
                margin-bottom: 10px;
                color: var(--orange);
                /* word-wrap: break-word; */
            }
            
            h2 {
                letter-spacing: 2px;
                font-family: 'Bebas Neue', cursive;
                font-weight: 500;
                font-size: 2rem;
                line-height: 1;
                text-transform: uppercase;
                color: var(--orange);
                /* background-color: aliceblue; */
            }
            
            h3 {
                letter-spacing: 2px;
                font-family: 'Bebas Neue', cursive;
                font-weight: 300;
                line-height: 1.2;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
            
            h3.top {
                color: var(--orange);
            }
            
            h4 {
                color: #c3c6c7;
                opacity: 0.6;
                font-weight: normal;
            }
            
            h5 {
                font-size: .9rem;
                font-weight: normal;
                color: #c3c6c7;
                opacity: 0.6;
                font-family: "open-sans";
            }
            
            a {
                text-decoration: none;
                color: white;
                font-size: 10px;
                font-weight: 700;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                transition: 0.32s;
            }
            
            a:hover {
                color: var(--orange);
            }
            /* Header */
            
            .header-wrap {
                position: absolute;
                display: flex;
                width: 100%;
                top: 0;
                line-height: 100%;
                padding: 1rem 0;
                margin: 0 auto;
                z-index: 10;
            }
            
            .header-content {
                position: relative;
                display: flex;
                max-width: 1200px;
                align-items: center;
                justify-content: center;
                /* flex-wrap: wrap; */
                margin-right: auto;
                max-width: 80vw;
                left: 50%;
                transform: translateX(-50%);
            }
            
            .img-SOS {
                flex-basis: 55px;
                margin-right: 5.8vw;
                margin-bottom: -.4rem;
            }
            
            .img-SOS img {
                max-width: 100%;
                max-height: 100%;
            }
            
            nav {
                margin-right: auto;
                position: relative;
                display: flex;
            }
            
            .main-ul,
            .main-ul-bottom,
            .switch-lang,
            .platforms {
                position: relative;
                display: flex;
                list-style-type: none;
            }
            
            .main-ul li,
            .main-ul-bottom li {
                margin-right: 2.2rem;
                line-height: 100%;
            }
            
            .switch-lang-wrap {
                position: relative;
                display: flex;
                border-right: 1px solid rgb(187, 184, 184);
                margin-right: 1rem;
            }
            
            .switch-lang-wrap:hover i {
                color: var(--orange);
            }
            
            .picked-language {
                margin-right: .6rem;
                line-height: 1;
                align-self: center;
                width: 30px;
            }
            
            .picked-language:hover {
                color: white;
            }
            
            .arrows {
                display: inline-block;
                align-self: center;
                color: white;
                margin-top: -8px;
                margin-right: 1.4rem;
                font-size: 1rem;
                /* align-self: flex-end; */
                padding-top: 14px;
                transition: 0.12s;
            }
            
            .arrows.active {
                display: none;
            }
            
            .hidden-lang {
                display: none;
                transition: .5s;
            }
            
            .hidden-lang.active {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgba(15, 15, 15, 0.52);
                border-radius: 5px;
                left: 0;
                top: 125%;
                width: 75%;
                padding: 10px 10px 10px 0;
            }
            
            .hidden-lang a {
                flex-basis: 3px;
                line-height: 2;
            }
            
            .fa-xbox,
            .fa-steam {
                font-size: 1.6rem;
                padding: 0px 15px 0 15px;
                color: var(--orange);
                transition: 0.5s;
            }
            
            .fa-steam {
                padding: 0;
            }
            
            .fab:hover {
                color: white;
            }
            /* All pages layout including background images and gradients - display:flex */
            
            .sec {
                /* border: 1px solid red; */
                position: relative;
                flex-basis: 100vh;
                background-position: center, center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .sec-container {
                width: 100%;
                height: 100vh;
            }
            /* SECTION ONE - MAIN PAGE!!! */
            
            .sec-one {
                background-image: url("Images/1.1intro-bg.png");
                text-align: center;
            }
            
            .wrapper-one {
                background: radial-gradient(rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.8032) 73.22%, rgb(8, 9, 10) 99.74%);
            }
            
            .main-content {
                position: relative;
                display: flex;
                top: 50%;
                transform: translateY(-50%);
                flex-direction: column;
                align-items: center;
            }
            
            button {
                line-height: 3.4rem;
                padding: 0 1.4rem;
                text-align: center;
                background-color: var(--orange);
                font-size: 16px;
                font-weight: 600;
                border: none;
                transition: .2s;
                border-radius: 5px;
            }
            
            .main-content button {
                margin: 1.5rem auto;
            }
            
            .btnBuy span {
                border-left: 1px solid rgb(26, 25, 23);
                margin-left: 0.6rem;
                padding-left: 0.6rem;
            }
            
            button:hover {
                cursor: pointer;
                box-shadow: 0px 7px 12px -5px var(--orange), 0px 7px 4px -2px rgba(255, 166, 0, 0.518);
            }
            
            button:active,
            button:focus {
                outline: none;
            }
            
            .bottom-click {
                position: absolute;
                bottom: 8vh;
                left: 50%;
                transform: translateX(-50%);
            }
            
            .bottom-click>* {
                display: block;
                text-align: center;
            }
            
            .fas.fa-caret-down {
                font-size: medium;
                margin: 5px auto;
            }
            /* SECTION TWO - GALLERY */
            
            .sec-two {
                background-image: url("Images/2.1about-bg.png");
            }
            
            .wrapper-two {
                position: relative;
                background-color: rgba(17, 16, 16, 0.91);
                /* background-color: #FEB548; */
            }
            
            .gallery-wrapper {
                position: absolute;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                /* background-color: #ff000041; */
            }
            
            .gallery-text {
                position: relative;
                display: flex;
                min-width: 520px;
                flex-direction: column;
                flex-basis: 10%;
                height: 86%;
                align-self: center;
                /* background-color: #feb54873; */
            }
            
            .head-wrap,
            .text-wrap {
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                height: 50%;
            }
            
            .head-wrap {
                justify-content: flex-end;
                padding-left: 0px;
                border-bottom: 3px solid white;
            }
            
            .text-wrap {
                padding-right: 10px;
                display: flex;
                width: 64%;
                height: 80%;
                text-align: justify;
                justify-content: center;
                align-items: center;
                margin: auto;
                margin-right: 0;
            }
            
            .text-wrap p:first-child {
                margin-bottom: 25px;
            }
            
            .text-wrap>p:last-child span:nth-last-of-type(1) {
                border-bottom: 4px solid var(--orange);
            }
            
            .gallery-img {
                position: relative;
                display: flex;
                flex-basis: 37%;
                height: 92%;
                justify-content: space-around;
                align-self: center;
                align-items: center;
                /* background-color: #43648f88; */
            }
            
            .imgs-father {
                position: absolute;
                display: flex;
                width: 84%;
                height: 94%;
                border-radius: 12px;
                align-items: center;
                justify-content: space-around;
                overflow: hidden;
            }
            
            .img-gal {
                position: absolute;
                transform: scale(.62);
                display: inline;
                transition: 2s;
            }
            
            .img-gal.hide {
                display: none;
            }
            
            .circles-container {
                position: absolute;
                display: flex;
                justify-content: space-around;
                width: 100%;
                height: 15px;
                /* background-color: #b4f50371; */
                bottom: 5%;
                /* margin: 0 15%; */
                /* padding-bottom: 5%; */
            }
            
            .round {
                width: 15px;
                border: 2px solid white;
                border-radius: 50%;
                transition: .2s;
            }
            
            .round.active {
                background-color: white;
            }
            
            .img-switch a {
                position: relative;
                /* display: inline; */
                top: 50%;
                width: 23%;
            }
            
            .fa-caret-right {
                font-size: xx-large;
            }
            /* SECTION THREE  -  FEATURES */
            
            .sec-three {
                background-image: url("Images/3.1features-bg.png");
            }
            
            .wrapper-three {
                background: radial-gradient(rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, .45) 55%, rgb(8, 10, 11, .98) 85%);
                position: absolute;
                /* display: flex; */
                /* flex-direction: column; */
            }
            
            .feature-wrap {
                position: relative;
                display: flex;
                left: 10vw;
                width: 35vw;
                flex-direction: column;
            }
            
            .feature-wrap header {
                flex-basis: 50%;
                min-width: 400px;
                margin: 20vh 0 12vh 0;
                /* justify-self: center; */
            }
            
            .feature-wrap footer {
                flex-basis: 50%;
                min-width: 400px;
                margin-left: 2.5vw;
                margin-top: -1.1rem;
            }
            
            .dot-connection {
                position: relative;
            }
            
            .dot-connection::before {
                content: "";
                display: block;
                position: absolute;
                height: 119%;
                width: 2px;
                background-color: white;
                transform: translate(-1.16rem, 1.25rem);
            }
            
            p.feature-list {
                transition: 1s linear;
            }
            
            .h2-features {
                margin-top: 1.1rem;
                cursor: pointer;
            }
            /* .h2-1-feat {
            margin-top: 0rem;
        } */
            
            footer div h2::after {
                content: "";
                display: block;
                position: absolute;
                width: .6rem;
                height: .6rem;
                border: 2px solid white;
                border-radius: 50%;
                transform: translate(-1.5rem, -1.52rem);
            }
            
            footer div h2.white::after {
                background-color: white;
            }
            
            .feature-list {
                margin: .7rem 0 2rem 0.6rem;
                transition: 1s;
            }
            
            .feature-list.hidden {
                display: none;
            }
            /* SECTION FOUR  -  SYSTEM REQUIREMENTS */
            /*         
        */
            
            .sec-four {
                background-image: url("Images/4.1system-bg.png");
            }
            
            .wrapper-four {
                position: relative;
                display: flex;
                flex-direction: column;
                /* justify-content: space-around; */
                background-image: radial-gradient(rgba(20, 20, 20, 0.4) 0%, rgba(7, 6, 6, 0.65) 53.63%, rgba(7, 8, 8, 1) 100%);
                background-color: #8581813a;
            }
            /* 
        1*/
            /* 
        1*/
            
            .sys-req-head,
            .sys-req-foot {
                position: relative;
                display: flex;
            }
            
            .sys-req-head {
                top: 5.5%;
                text-transform: uppercase;
                text-align: center;
                align-self: center;
            }
            
            .sys-req-head h3 {
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 2px;
                font-weight: 400;
            }
            
            .sys-req-foot {
                flex-grow: 1;
                flex-wrap: wrap;
                box-sizing: border-box;
                max-width: 600px;
                max-height: 400px;
                margin-left: 120px;
                top: 15%;
            }
            
            .sys-req-foot div {
                display: block;
                flex-basis: 49%;
                height: calc(100%/3);
                border: 1px solid rgba(148, 144, 144, 0.678);
                outline: hidden;
                flex-grow: 1;
                padding: 12px;
                overflow: hidden;
            }
            /* 
        2
        2 */
            /* SECTION FIVE - QUOTES */
            /* Whole */
            
            .sec-five {
                background-image: url("Images/5.1quotes-bg.png");
                display: flex;
            }
            
            .wrapper-five {
                flex-basis: 1200px;
                max-width: 1200px;
                height: 92vh;
                margin: 0 auto;
                position: relative;
                display: flex;
                align-self: center;
            }
            
            .wrapper-five>div,
            .text-container,
            .bubbles-container,
            .text-wrapper,
            .quote-header,
            .quote-button,
            .quote-bubbles,
            .bubbles-container,
            .first-bubble,
            .second-bubble,
            .third-bubble,
            .bubble-header-1,
            .bubble-header-2,
            .bubble-header-3,
            .bubble-img {
                position: relative;
                display: flex;
            }
            /*  first part of page 5 */
            
            .quote-text {
                flex-basis: 48.2%;
                position: absolute;
            }
            
            .text-container {
                flex-basis: 80%;
            }
            
            .text-wrapper {
                flex-direction: column;
                margin: auto 0;
                height: 53vh;
                width: 100%;
                z-index: 10;
                justify-content: space-between;
            }
            
            .quote-header {
                flex-direction: column;
            }
            
            .quote-paragraph p {
                text-align: justify;
                line-height: 1.1;
            }
            /* Second part of page 5 */
            
            .quote-bubbles {
                flex-basis: 47%;
            }
            
            .bubbles-container {
                flex-basis: 85%;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .bubble-header-1 {
                flex-basis: 57.7%;
            }
            
            .first-bubble {
                flex-basis: 26%;
                flex-direction: column;
                border-radius: 15px;
                background-color: rgba(109, 109, 99, 0.245);
                padding: 4%;
                line-height: 1.3;
            }
            
            .bubble-img {
                flex-basis: 10%;
                align-self: flex-start;
            }
            
            .bubble-img img {
                position: relative;
                object-fit: contain;
                margin-bottom: 0;
                height: 60px;
                border-radius: 50%;
                vertical-align: bottom;
            }
            
            .bubble-img div {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: rgba(246, 198, 121, 0.876);
                transform: translate(12%, 6%);
            }
            
            .bubble-text1 {
                flex-grow: 1;
                padding-left: 6%;
            }
            
            .bubble-text1 h3 {
                color: var(--orange)
            }
            
            .bubbles-footer1 {
                flex-basis: 42.3%;
            }
            
            .second-bubble,
            .third-bubble {
                /* flex-basis: 3%; */
                flex-direction: column;
                border-radius: 15px;
                background-color: rgba(109, 109, 99, 0.245);
                padding: 4%;
                line-height: 1.3;
            }
            
            .bubble-header-2,
            .bubble-header-3,
            .bubbles-footer2,
            .bubbles-footer3 {
                flex-basis: 50%;
            }
            
            .bubbles-footer1,
            .bubbles-footer2,
            .bubbles-footer3 {
                padding-top: 6%;
            }
            
            .bubbles-footer1 h5,
            .bubbles-footer2 h5,
            .bubbles-footer3 h5 {
                padding-top: 1%;
            }
            
            .fab.fa-twitter {
                font-size: small;
                background-color: transparent;
                color: rgb(91, 183, 245);
            }
            /* SECTION SIX - NEWSLETTER */
            
            .sec-six {
                background-image: url("Images/6.newsletter-bg.png");
                position: relative;
                display: flex;
                justify-content: flex-end;
            }
            
            .wrapper-six {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 58%;
            }
            
            .newsletter {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-basis: 48%;
                padding-right: 18%;
            }
            
            .news-text {
                text-align: justify;
            }
            
            .news-footer {
                position: relative;
                display: flex;
                justify-content: space-between;
            }
            
            .news-input {
                margin-right: 0 auto 0 0;
                line-height: 3.4rem;
                padding: 0 .7rem;
                text-align: left;
                color: var(--orange);
                font-size: 16px;
                font-weight: 300;
                border: none;
                outline: none;
                border-radius: 5px;
                transition: .2s;
                flex-grow: 1;
                background-color: rgba(49, 48, 48, 0.431);
            }
            
            .submitBtn {
                /* display: inline-block; */
                padding: 0 10%;
                margin-left: 4%;
                float: right;
            }
            
            .news-alert {
                display: none;
                position: absolute;
                top: 120%;
                left: 12%;
                padding: 12px 12px;
                background-color: white;
                border-radius: 6px;
            }
            
            .news-alert.active {
                display: block;
            }
            
            .fa-exclamation-triangle {
                color: var(--orange);
                padding-right: 10px;
            }
            
            .news-alert>p>span {
                font-size: .8rem;
                color: rgba(0, 0, 0, 0.712);
            }
            
            .news-alert::after {
                content: "";
                position: absolute;
                top: 0;
                left: 30%;
                width: 1rem;
                border-radius: 2px;
                height: 1rem;
                background-color: white;
                transform-origin: 0 0;
                transform: rotate(-45deg);
            }
            /* ### FOOTER SECTION 7 */
            
            #footer-wrapper {
                color: white;
                width: 100%;
                flex-basis: 34vh;
                position: relative;
                flex-wrap: wrap;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 1200px;
                max-width: 1200px;
                margin: 0 auto;
            }
            
            .footer-nav {
                position: relative;
                flex-grow: 1;
                display: flex;
                align-items: center;
                border-bottom: 3px solid white;
            }
            
            .footer-img {
                margin-bottom: -7px;
                margin-right: 40px;
            }
            
            .footer-bottom {
                position: relative;
                display: flex;
                flex-grow: 1;
            }
            
            .bottom-nav {
                margin: 0 auto;
                margin-bottom: -40px;
            }
            
            .bottom-icons {
                margin-bottom: -40px;
                position: relative;
                line-height: 2rem;
            }
            
            .bottom-icons>a i {
                font-size: 20px;
            }
            
            .bottom-icons a:first-child {
                margin-right: 40px;
            }
            
            .bottom-icons a:nth-child(3) {
                margin-left: 40px;
                margin-right: 40px;
            }
            
            .fa-youtube,
            .fa-facebook-f,
            .fa-twitter.ai,
            .fa-twitch {
                transition: .3s;
            }
            
            .fa-youtube:hover {
                color: #FF0000;
            }
            
            .fa-facebook-f:hover {
                color: #1877F2;
            }
            
            .fa-twitch:hover {
                color: #B583FF;
            }
            
            .fa-twitter.ai {
                color: white;
            }
            
            .fa-twitter.ai:hover {
                color: #1A91DA;
            }
            
            .bottom-links {
                position: relative;
                display: flex;
                flex-basis: 100%;
                justify-content: space-between;
                padding-top: 15px;
            }
            
            .bottom-links div:first-of-type {
                margin-right: auto;
            }
            
            .bottom-links div a:first-of-type,
            .bottom-links div a:nth-of-type(2) {
                padding: 0 10px;
                display: inline-block;
            }
            
            .bottom-links div a:nth-of-type(2) {
                border-left: 1px solid white;
                border-right: 1px solid white;
            }
            
            .bottom-links div a:nth-of-type(3) {
                padding-left: 10px;
            }