* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "OpenSans", Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --orange: #FEB548;
    --grey-fonts-h4-h5: #c3c6c7;
    --main-background: rgb(0, 0, 0, 0.965);
    --menu-shadow-background: rgba(7, 7, 7, 0.55);
    --nav-border: rgb(187, 184, 184);
    --bubble-background: rgba(49, 48, 48, 0.555);
    --shadow-background: rgba(17, 16, 16, 0.91);
    --input-background: rgba(49, 48, 48, 0.431);
    --twitter: #1A91DA;
    --facebook: #1877F2;
    --twitch: #B583FF;
    --youtube: #FF0000;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    color: white;
    overflow-X: hidden;
    background-color: var(--main-background);
}

h1 {
    font-size: 4.4rem;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--orange);
}

.h1-shadow {
    text-shadow: 0 0 20px rgb(0, 0, 0, .8);
}

.h2-alike {
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--orange);
}

h3 {
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.4rem;
    text-transform: uppercase;
}

h4 {
    color: var(--grey-fonts-h4-h5);
    opacity: 0.6;
    font-weight: normal;
}

.h4-small {
    font-size: .9rem;
    font-family: "open-sans";
}

a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    transition: color 0.32s;
}

a:hover {
    color: var(--orange);
}

.color-primary {
    color: var(--orange);
}

.flex-abs {
    position: absolute;
    display: flex;
}

.flex-rel {
    position: relative;
    display: flex;
}


/* Header */

.header-wrap {
    width: 100%;
    top: 15px;
    margin: 0 auto;
    z-index: 10;
}

.header-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.img-SOS {
    position: relative;
    flex-basis: 55px;
    justify-self: flex-start;
    top: 6px;
}

.img-SOS img {
    max-width: 100%;
    max-height: 100%;
}

.primary-menu {
    justify-content: space-between;
    flex-grow: 1;
}

.nav-main {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.main-ul {
    list-style-type: none;
    line-height: 2;
    top: 7px;
}

.main-ul li {
    margin: 3px;
    padding: 1px 8px;
}

.platforms-hid {
    display: none;
}

.switch-lang-wrap {
    border-right: 1px solid var(--nav-border);
    margin-left: 6rem;
    cursor: pointer;
    align-self: center;
    line-height: 1.2;
}

.switch-lang-wrap:hover i {
    color: var(--orange);
}

.switch-lang {
    z-index: 1;
}

.picked-language {
    margin-right: .4rem;
    line-height: 2.2;
    align-self: center;
}

.picked-language:hover {
    color: white;
}

.div-lang {
    overflow: hidden;
    top: 50px;
    width: 60px;
    height: 125px;
    border-radius: 5px;
}

.hidden-lang {
    flex-direction: column;
    list-style-type: none;
    padding: 3px 5px;
    top: -110px;
    width: 100%;
    height: 100%;
    background-color: var(--menu-shadow-background);
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s ease-in-out, opacity .5s ease-in-out, top .5s ease-in-out;
}

.hidden-lang.active {
    visibility: visible;
    opacity: 1;
    top: 0px;
}

.hidden-lang li {
    line-height: 1.3;
    padding: 0 10px;
}

.arrows {
    position: relative;
    color: white;
    margin-right: 1rem;
    font-size: medium;
    height: 15px;
    bottom: -2px;
    transition: transform .1s ease;
}

.arrows.active {
    transform: rotateX(180deg);
}

.menu-icon {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 22px;
    height: 20px;
    top: 2px;
    left: 94px;
}

.menu-icon div {
    transition: background-color .3s ease, box-shadow .3s ease, width 1s ease;
}

.menu-icon:hover {
    cursor: pointer;
}

.menu-icon:hover div {
    box-shadow: 0 0 3px#f1dcbb;
    background-color: var(--orange);
}

.short {
    transition: width 1s ease;
}

.short.stripe-middle.change {
    width: 75%;
    align-self: flex-end;
}
.short.stripe-bottom.change {
    width: 50%;
    align-self: flex-end;
    transition: all 1s ease;
}

@media(max-width:1230px) {
    .header-content {
        max-width: 840px;
    }
    .switch-lang-wrap {
        margin-left: 0;
    }
}

@media(max-height:1040) {
    .header-content {
        max-width: 1000px;
    }
    .hidden-lang a {
        font-size: 6px;
        font-weight: 100;
        letter-spacing: 0.2em;
    }
    
}

@media (max-width:1024px) {
    * {
        font-size: 14px;
    }
    h1 {
        font-size: 2.8rem;
    }
    .h2-alike {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.3rem;
    }
     .main-ul{
        margin-top: 2px;
    }
    .switch-lang {
        margin-left: 0;
    }
    .hidden-lang li a span {
        font-size: 10px;
        line-height: 1.2;
    }
    .div-lang {
        top: 45px;
        left: -5px;
        height: 114px;
    }
}

.platforms {
    align-self: center;
    margin-left: 1rem;
}

.top-icons {
    font-size: 1.6rem;
    padding: 0px 5px 0 5px;
    color: var(--orange);
    transition: 0.5s;
}

.fab:hover {
    color: white;
}

@media(max-width:880px) {
    .grow {
        flex-grow: 1;
    }
    .header-content {
        margin-right: 20px;
    }
    .primary-menu {
        position: absolute;
        flex-direction: column;
        background-color: var(--menu-shadow-background);
        right: 17px;
        top: 60px;
        border-radius: 6px;
        flex-grow: 0;
        z-index: 2;
    }
    .nav-main {
        flex-grow: 0;
        flex-direction: column;
        justify-content: baseline;
        display: none;
    }
    .nav-main.show {
        display: flex;
    }
    .main-ul {
        flex-direction: column;
        line-height: 1;
    }
    .main-ul li {
        flex-basis: 5px;
        align-self: flex-end;
    }
    .main-ul li:last-of-type {
        border-bottom: 1px solid var(--nav-border);
        padding: 0 0 6px 0;
        margin-right: 11px;
    }
    .switch-lang {
        position: absolute;
        transform: scale(1.1);
        top: 30px;
        right: 73px;
    }
    .platforms-hid {
        position: relative;
        display: flex;
        align-self: flex-end;
        margin: 0;
        padding: 10px 0 8px 0;
    }
    .showed-platform {
        display: none;
    }
    .div-lang {
        top: 30px;
    }
    .hidden-lang {
        font-size: small;
    }
    .menu-icon {
        display: flex;
    }
    .menu-icon div {
        background-color: white;
        flex-basis: 12%;
        border-radius: 2%;
    }
}


/* All pages layout including background images and gradients - display:flex */

.sec {
    position: relative;
    flex-basis: 100vh;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec-container {
    width: 100%;
    height: 100vh;
}


/* SECTION ONE - MAIN PAGE!!! */

.sec-main {
    background-image: url("assets/images/1.1intro-bg.png");
    text-align: center;
}

.wrapper-main {
    background: radial-gradient(rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.8032) 73.22%, rgb(8, 9, 10) 99.74%);
}

.main-content {
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
    margin: 0 5vw;
}

.button {
    line-height: 3.4rem;
    padding: 0 1.4rem;
    background-color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: .2s;
    border-radius: 5px;
}

.main-content .btn-buy {
    margin: 1.5rem auto;
}

@media(max-width:760px) {
    

    .button {
    line-height: 2.5rem;
    padding: 0 1rem;
    font-size: 10px;
    font-weight: 600;
    }
    .button p{
font-size: 10px;
    }
}

.btn-buy span {
    border-left: 1px solid rgb(26, 25, 23);
    margin-left: 0.6rem;
    padding-left: 0.6rem;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0px 7px 12px -5px var(--orange), 0px 7px 4px -2px rgba(255, 166, 0, 0.518);
}

.button:active,
.button:focus {
    outline: none;
}

.bottom-click {
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-click>* {
    display: block;
    text-align: center;
}

.fas.fa-caret-down {
    font-size: medium;
    margin: 5px auto;
}


/* SECTION TWO - About-Us */

.sec-about-us {
    background-image: url("assets/images/2.1about-bg.png");
}

.wrapper-about-us {
    justify-content: center;
    background-color: var(--shadow-background);
}

.gallery-wrapper {
    height: 90%;
    width: 100%;
    max-width: 1200px;
    align-self: center;
    margin: 40px;
    align-items: center;
}

.gallery-text {
    flex-basis: 47.5%;
    display: flex;
    margin: 0 0 30px 0;
    flex-wrap: wrap;
}

.head-wrap {
    border-bottom: 4px solid white;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 12% 0 0% 36%;
    line-height: 1.2;
}

.text-wrap p:first-child {
    margin-bottom: 5%;
}

.text-wrap>p:last-child span {
    border-bottom: 4px solid var(--orange);
}

@media(max-width:1024px) {
    .sec-about-us {
        height: 250vh;
    }
    .gallery-wrapper {
        height: 200%;
        padding: 0 25px;
        flex-direction: column;
        justify-content: start;
    }
    .gallery-text {
        margin: 0;
        flex-basis: 38.5%;
        flex-direction: column;
        justify-content: center;
    }
    .gallery-img {
        min-height: 180px;
    }
    .head-wrap {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        flex-basis: 30%;
    }
    .text-wrap {
        margin: 0;
        padding: 15px 0;
        text-align: center;
        flex-grow: 1;
    }
    .text-wrap p:first-child {
        margin-bottom: 5px;
    }
    .gallery-img {
        transform: scale(1.2);
    }
}

.gallery-img {
    position: relative;
    flex-basis: 50%;
    width: 100%;
    margin: auto;
    height: 92%;
}

.imgs-father {
    display: flex;
    width: 100%;
    height: 100%;
}

.gallery-list {
    position: relative;
    list-style-type: none;
    flex-basis: 80.5%;
    margin: 0 9.5%;
    overflow: hidden;
    border-radius: 15px;
}

.img-gal {
    left: 104%;
    z-index: inherit;
}

.img-gal.show {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    transition: left .5s ease;
    z-index: 1;
}

.img-gal:first-child {
    background-image: url("assets/images//g-1.png");
}

.img-gal:nth-child(2) {
    background-image: url("assets/images//g-2.png");
}

.img-gal:nth-child(3) {
    background-image: url("assets/images//g-3.png");
}

.img-gal:nth-child(4) {
    background-image: url("assets/images//g-4.png");
}

.circles-container {
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    height: 15px;
    bottom: 5%;
    z-index: 2;
}

.round {
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    transition: .5s;
}

.round.active {
    background-color: white;
}

.img-switch {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -5%;
    height: 6%;
}

.fa-caret-right {
    font-size: xx-large;
    right: 0;
}

@media(max-width:1024px) {
    .wrapper-about-us {
        flex-direction: column;
    }
}


/* SECTION THREE  -  FEATURES */

.sec-features {
    background-image: url("assets/images/3.1features-bg.png");
}

.wrapper-features {
    background: radial-gradient(rgba(255, 255, 255, 0.04) 0%, rgba(0, 0, 0, .45) 55%, rgb(8, 10, 11, .98) 85%);
    position: absolute;
}

.feature-wrap {
    left: 10vw;
    width: 35vw;
    flex-direction: column;
}

.feature-wrap header {
    flex-basis: 50%;
    min-width: 400px;
    margin: 20vh 0 12vh 0;
}

.feature-wrap footer {
    flex-basis: 50%;
    margin-left: 2.5vw;
    margin-top: -1.1rem;
}

.dot-connection {
    position: relative;
}

.dot-connection::before {
    content: "";
    display: block;
    position: absolute;
    height: 122%;
    width: 2px;
    background-color: white;
    transform: translate(-1.16rem, 1.25rem);
}

.h2-features {
    margin-top: 1.1rem;
    cursor: pointer;
}

.h2-features::after {
    content: "";
    display: block;
    position: absolute;
    width: .6rem;
    height: .6rem;
    border: 2px solid white;
    background-color: rgb(17, 16, 16);
    border-radius: 50%;
    transform: translate(-1.5rem, -1.52rem);
    transition: background-color .15s ease-in;
}

p.white::after {
    background-color: white;
}

.feature-list {
    margin: .7rem 0 2rem 0.6rem;
    height: 100%;
}

.feature-list.hidden {
    display: none;
}

@media(max-width:1024px) {
    .feature-wrap footer {
        flex-basis: 80%;
    }
    .feature-wrap {
        width: 75vw;
    }
    .h2-features::after {
        width: .4rem;
        height: .4rem;
        transform: translate(-1.4rem, -1.14rem);
    }
    .dot-connection::before {
        height: 128%;
        width: 2px;
        background-color: white;
        transform: translate(-1.16rem, .95rem);
    }
}


/* SECTION FOUR  -  SYSTEM REQUIREMENTS */

.sec-sys-req {
    background-image: url("assets/images/4.1system-bg.png");
}

.wrapper-sys-req {
    flex-direction: column;
    background-image: radial-gradient(rgba(20, 20, 20, 0.4) 0%, rgba(7, 6, 6, 0.65) 53.63%, rgba(7, 8, 8, 1) 100%);
    background-color: #8581813a;
}

.sys-req-head {
    top: 5.5%;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
}

.sys-req-foot {
    flex-grow: 1;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 600px;
    max-height: 400px;
    margin-left: 120px;
    top: 15%;
}

.sys-req-foot div {
    display: block;
    flex-basis: 49%;
    height: calc(100%/3);
    border: 1px solid rgba(148, 144, 144, 0.678);
    outline: hidden;
    flex-grow: 1;
    padding: 12px;
    overflow: hidden;
}

@media(max-width:1024px) {
    .sec-sys-req {
        flex-basis: 20vh;
    }
    .wrapper-sys-req {
        justify-content: center;
    }
    .sys-req-head {
        top: 3.5%;
    }
    .sys-req-foot {
        top: 5%;
        margin: 0 20px;
        align-self: center;
    }
}


/* SECTION FIVE - QUOTES
Whole */

.sec-quotes {
    background-image: url("assets/images/5.1quotes-bg.png");
    display: flex;
}

.wrapper-quotes {
    max-width: 1200px;
    height: 92vh;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: center;
}


/*  first part of page 5 */

.quote-text {
    display: flex;
    flex-basis: 48.2%;
}

.text-container {
    display: flex;
    flex-basis: 80%;
}

.text-wrapper {
    flex-direction: column;
    margin: auto 0;
    height: 53vh;
    justify-content: space-between;
}

.quote-header {
    flex-direction: column;
}

.quote-paragraph p {
    text-align: justify;
    line-height: 1.2;
}


/* Second part of page 5 */

.quote-bubbles {
    flex-basis: 47%;
}

.bubbles-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.bubble {
    border-radius: 15px;
    background-color: var(--bubble-background);
    padding: 4%;
    line-height: 1.3;
}

.bubble-header {
    display: flex;
}

.bubble-img {
    position: relative;
    display: flex;
    flex-basis: 10%;
    align-self: flex-start;
}

.bubble-img img {
    position: relative;
    height: 60px;
    border-radius: 50%;
}

.bubble-img div {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(246, 198, 121, 0.876);
    transform: translate(12%, 6%);
}

.bubble-text {
    flex-grow: 1;
    padding-left: 6%;
    color: var(--orange)
}

.bubble-footer {
    padding-top: 4%;
}

.bubble-footer h5 {
    padding-top: 3%;
}

@media (max-width:1024px) {
    .wrapper-quotes {
        flex-direction: column;
        height: 100%;
        margin: 0 30px;
    }
    .text-container {
        flex-basis: 100%;
        margin: 10px 0px;
    }
    .text-wrapper {
        justify-content: space-around;
    }
    /* Second part of page 5 */
    .quote-text {
        text-align: center;
    }
    .bubbles-container {
        flex-basis: 100%;
    }
    .bubble {
        margin: 7.5px 0px;
    }
}


/* SECTION SIX - NEWSLETTER */

.sec-newsletter {
    background-image: url("assets/images/6.newsletter-bg.png");
    display: flex;
    justify-content: flex-end;
}

.wrapper-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 58%;
}

.newsletter {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 18%;
}

.news-text {
    text-align: justify;
}

.news-footer {
    width: 100%;
}

.news-footer-form {
    padding: 20px 0;
    flex-basis: 100%;
}

.news-input {
    line-height: 3.4rem;
    padding: 0 .7rem;
    text-align: left;
    color: var(--orange);
    font-size: 16px;
    font-weight: 300;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .2s;
    flex-grow: 1;
    background-color: var(--input-background);
}

.submit-btn {
    padding: 0 4vw;
    margin-left: 4%;
}

.news-alert {
    display: none;
    position: absolute;
    top: 120%;
    padding: 12px 22px;
    background-color: white;
    border-radius: 6px;
    font-size: .85rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.712);
}

.news-alert.active {
    display: flex;
    box-shadow: 0 0 13px rgba(172, 171, 171, 0.883);
}

@media (max-width:1024px) {
    .sec-newsletter {
        background-position: 40%;
    }
    .wrapper-newsletter {
        align-content: space-around;
        padding: 10px 20px;
    }
    .newsletter {
        padding-right: 0%;
        flex-basis: 70%;
    }
    .news-header {
        text-align: center;
    }
    .news-footer-form {
        flex-direction: column;
    }
    .submit-btn {
        padding: 0;
        margin-left: 0;
        margin-top: 15px;
    }
}


/* ### FOOTER SECTION 7 */

#footer-wrapper {
    color: white;
    width: 100%;
    flex-basis: 34vh;
    flex-wrap: wrap;
}

.footer-nav {
    width: 1200px;
    align-items: center;
    border-bottom: 3px solid white;
    margin: 0 5vw;
    justify-content: center;
}

.footer-img {
    margin-bottom: -7px;
    margin-right: 55px;
}

.nav-bottom {
    flex-grow: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.marg-bottom-ul {
    list-style-type: none;
    margin-bottom: -40px;
    flex-wrap: wrap;
}

.marg-bottom-ul>li {
    margin: 1vw;
}

.bottom-icons {
    margin-bottom: -40px;
    position: relative;
    display: flex;
    width: 16vw;
    justify-content: space-between;
}

.icons {
    vertical-align: top;
    transition: .3s;
}

a i {
    font-size: 20px;
    transition: .3s;
}

.fa-youtube:hover {
    color: var(--youtube);
}

.fa-facebook-f:hover {
    color: var(--facebook);
}

.fa-twitch:hover {
    color: var(--twitch);
}

.fa-twitter.ai {
    color: white;
}

.fa-twitter.ai:hover {
    color: var(--twitter);
}

.footer-bottom {
    max-width: 1200px;
    flex-grow: 1;
    margin: 15px 5%;
}

.bottom-links {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 0;
    text-align: justify;
}

.policy {
    margin-left: 15px;
}

.copyright {
    line-height: 1.3;
    margin-right: 5px;
}

.policy>a:not(:last-of-type) {
    margin-right: 5px;
    padding-right: 9px;
    border-right: 1px solid white;
}

@media(max-width:1024px) {
    #footer-wrapper {
        flex-basis: 350px;
    }
    .footer-nav {
        flex-direction: column;
        justify-content: space-around;
    }
    .bottom-icons {
        margin: 35px 0;
        width: 36vw;
    }
    .marg-bottom-ul {
        flex-grow: 1;
        justify-content: space-around;
    }
    .marg-bottom-ul>li {
        align-self: center;
        margin-bottom: 0;
    }
    .footer-img {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .footer-bottom {
        height: 40px;
    }
}

@media(max-width:780px){
    .copyright{
        font-size:12px;
    }
    .policy>a {
        font-size:2px;
        font-weight:normal;
}
}