  @media only screen and (max-width: 824px) {}
  
  @media(max-width: 824px) {
      /* all */
      h1 {
          font-size: 3rem;
      }
      /* section main - one */
      /* section two*/
      .sec-two {
          height: 50%;
          max-height: 150%;
      }
      .wrapper-two {
          top: 2%;
      }
      .gallery-wrapper {
          flex-direction: column;
          justify-content: flex-start;
      }
      .gallery-text {
          top: 5%;
      }
      .gallery-img {
          max-width: 85vw;
          height: 70%;
      }
      .head-wrap {
          align-items: center;
          text-align: center;
      }
      .head-wrap,
      .text-wrap {
          justify-content: center;
          align-items: center;
      }
      .text-wrap {
          text-align: justify;
          justify-content: center;
          align-items: center;
          padding-top: 15px;
          margin: 0 6%;
      }
      /* Section features - three */
      /* Sectionsys-req  -  four */
      .sec-four {
          height: 150%;
      }
      .sys-req-head {
          top: 3%;
          word-wrap: break-word;
      }
      .sys-req-foot div {
          flex-basis: 100%;
          min-height: calc(100%/3.5);
      }
      .sys-req-head h1 {
          font-size: 3.3rem;
      }
      .sys-req-foot {
          flex-direction: column;
          flex-wrap: nowrap;
          margin: auto;
          top: -10%;
          padding: 0 20px;
      }
      /* section five */
      .sec-five sec {
          min-height: 150%;
      }
      .wrapper-five {
          flex-direction: column;
          height: 136vh;
      }
      .quote-text {
          flex-basis: 42%;
          text-align: center;
      }
      .quote-button {
          margin: 0 auto;
          margin-top: 12px;
      }
      .quote-bubbles {
          flex-basis: 52%;
          align-items: center;
          justify-content: center;
      }
      .text-container {
          flex-basis: 100%;
          padding: 0 10%;
      }
      .news-header h1 {
          font-size: 3rem;
          text-align: center;
          margin-left: -15px;
      }
      .first-bubble,
      .second-bubble {
          margin-bottom: 20px;
      }
      /* sec six newsletter */
      .sec-six {
          height: 60vh;
          justify-content: center;
          background-position: -450px 0px;
      }
      .wrapper-six {
          flex-basis: 100%;
          padding-left: 30%;
      }
      .newsletter {
          text-align: center;
      }
      .news-footer {
          /* flex-direction: column; */
          flex-wrap: wrap;
      }
      .news-input {
          margin-top: 20px;
      }
      .submitBtn {
          margin: 20px auto;
      }
      /* Section seven footer */
  }